################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BudgetBuddy_back-end/BudgetBuddyAPI/.vs/BudgetBuddyAPI/FileContentIndex
