################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BudgetBuddy_back-end/BudgetBuddyAPI/.vs/BudgetBuddyAPI/FileContentIndex
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddyAPI/obj/Debug/net7.0
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddy.Infrastructure/obj/Debug/net7.0
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddy.Domain/obj/Debug/net7.0
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddy.Core/obj/Debug/net7.0
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddy.Infrastructure/obj
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddyAPI/obj
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddy.Domain/obj
/BudgetBuddy_back-end/BudgetBuddyAPI/BudgetBuddy.Core/obj
/BudgetBuddy_back-end/BudgetBuddyAPI/.vs/BudgetBuddyAPI/DesignTimeBuild/.dtbcache.v2
/BudgetBuddy_back-end/BudgetBuddyAPI/.vs/BudgetBuddyAPI/v17/.futdcache.v2
/BudgetBuddy_back-end/BudgetBuddyAPI/.vs/BudgetBuddyAPI/v17/.suo
*.txt
