.btn {
    color: var(--theme);
    text-align: center !important;
    margin: 1rem 0rem !important;
    padding: 0.5rem !important;
    font-size: 0.8rem !important;
    background-color: #fff;
    border: 1px solid var(--theme) !important;
    border-radius: 0.25rem !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: auto !important;
  }
  
  .btn:hover {
    background-color: var(--theme) !important;
    color: #fff !important;
    transition: all 0.3s !important;
  }
  
  .btn-blue {
    background-color: var(--theme) !important;
    color: #fff !important;
  }
  .btn-orange {
    background-color: orange !important;
    color: #fff !important;
  }
  
  .btn-orange:hover {
    background-color: #fff !important;
    color: var(--theme) !important;
    transition: all 0.3s !important;
  }
  .btn-blue:hover {
    background-color: #fff !important;
    color: var(--theme) !important;
    transition: all 0.3s !important;
  }