.navbar {
    position: sticky;
    /* width: 100%; */
    padding: 0.75rem 1.5rem;
    background-color: var(--theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .navbar-heading {
    color: #fff;
    font-weight: 500;
    margin: 0px;
    font-size: 1.2rem;
  }
  .navbar-link {
    color: #e3e3e3;
    font-weight: 500;
    margin: 0px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-link:hover {
    color: #fff;
    transition: all 0.3s;
  }
  .header-logo-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }

.navbar-email {
  color: white; 
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  right: 0;
  top: 100%; 
}

.navbar-email:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.user-icon {
  width: 2rem; /* Adjust the size as needed */
  height: 2rem; /* Adjust the size as needed */
  border-radius: 50%;
  color: green;

}